*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(154, 158, 116);
    
}

nav{
    background-color: crimson;
}

ul{
    display: flex;
    list-style-type: none;
    height: 100%;
}

li{
    color: white;
}

main{
    background-color: rgb(245, 38, 66);
}
div{
    background-color: rgb(255, 172, 146);
}
footer{
    background-color: rgb(78, 17, 2);
}
img{
    height: 100%;
    width: 100%; 
}
/*------ VISION DE UN DISPOSITIVO TIPO MOVIL--------*/
@media only screen and ( max-width:600px){

header{
    height: 400px;
}

nav{
    height: 200px;
}

ul{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

li{
    height: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    height: 500px;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    display: grid;
}
    
div{
    width: 100%;
    height: 100%;
}

footer{
    background-color: rgb(247, 247, 112);
    height: 150px;
}

img{
    width: 100%;
    height: 100%;
 }
}

/*------ VISION DE UN DISPOSITIVO TIPO TABLET--------*/
@media only screen and ( min-width:600px){

header{
    height: 500px;
}

main{
    display: grid;
    height: 620px;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
}

nav{
    height: 100px;
}

ul{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    background-color:rgb(248, 248, 117) ;
    height: 150px;
}

.LosTres{
    height: 100%;
    width: 100%;
    }
}
@media only screen and ( min-width:768px){


}
@media only screen and ( min-width:992px){

}
@media only screen and ( min-width:1200px){

}